- name: set image_name fact
  set_fact:
    image_name: "{{ ecr_registry }}/{{ service_id }}_{{ item }}:{{ build_label }}"

- name: find most recent tag
  command: >
    {{ aws_cmd }} ecr describe-images --repository-name {{ service_id }}_{{ item }} --filter tagStatus=TAGGED --no-paginate
    --query 'imageDetails[0].imageTags[0]' --output text
  register: describe_images
  changed_when: no

- name: pull latest if exists - to ensure cache  {{ item }}
  ansible.builtin.command:
    cmd: "docker pull {{ ecr_registry }}/{{ service_id }}_{{ item }}:{{ describe_images.stdout }}"
  when: describe_images.stdout != 'None'
  ignore_errors: true
  no_log: true

- name: build ecr image {{ item }}
  ansible.builtin.command:
    cmd: >
      docker build
      -t {{ image_name }}
      -f {{ base_dir }}/{{ images_map[item].dockerfile }}
      {{ base_dir }}/{{ images_map[item].path }}
      --network host --pull
  register: build_result
  ignore_errors: false

- name: push ecr image {{ item }}
  ansible.builtin.command:
    cmd: "docker push {{ image_name }}"
  when: build_result.rc == 0
