
- name: check build_label
  fail: msg="you must specify an build_label"
  when: not build_label

- name: get current ecr repos
  command: "{{ aws_cmd }} ecr describe-repositories --query 'repositories[].repositoryName'"
  register: current_repos
  changed_when: no
  retries: 5
  delay: 10
  until: current_repos.rc == 0  

- name: set variables
  set_fact:
    current_repos: "{{ current_repos.stdout | from_json }}"
    images_map: "{{ dict() }}"

- name: create repos map
  set_fact:
    images_map: "{{ images_map | combine({item['name']: item}) }}"
  with_items: '{{ docker_containers }}'

- name: set variables
  set_fact:
    new_repos: "{{ repo_names | difference(current_repos) }}"

- name: create new repos
  command: "{{ aws_cmd }} ecr create-repository --repository-name {{ item }} --tags Key=api-service,Value={{ service_id }}"
  with_items: "{{ new_repos }}"
  when: new_repos

# TO DO- Add back in once confirmed lifecycle policy to be applied to all new repos.

# - name: Read lifecycle policy file
#   ansible.builtin.slurp:
#     src: "{{ playbook_dir }}/ecr-lifecycle/ecr_lifecycle.json"
#   register: desired_policy_raw
#   when: new_repos | length > 0

# - name: Decode lifecycle policy JSON
#   set_fact:
#     desired_policy_json: "{{ desired_policy_raw.content | b64decode | from_json }}"
#   when: new_repos | length > 0

# - name: Apply lifecycle policy to each new repo
#   ansible.builtin.command: >
#     {{ aws_cmd }} ecr put-lifecycle-policy
#     --repository-name {{ item }}
#     --lifecycle-policy-text '{{ desired_policy_json | to_json }}'
#   with_items: "{{ new_repos }}"
#   register: lifecycle_update
#   ignore_errors: yes
#   when: new_repos | length > 0

- name: ecr login
  shell: "eval $({{ aws_cmd }} ecr get-login --no-include-email)"
  changed_when: no

- name: build and push ecr images
  include_tasks: build-container.yml
  with_items: "{{ containers }}"