
name: SBOM Testing

on:
  workflow_dispatch:
    inputs:
      environment:
        description: "Run SBOM check"
        required: true
        type: choice
        options:
          - yes
          - no

jobs:
  sbom:
    runs-on: ubuntu-22.04
    container:
      image: python:3.13-slim

    steps:
      - name: Checkout
        uses: actions/checkout@v4